<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Insiders Administration</title>

</head>

<h1>Welcome to the user Administration.</h1>
<a href="/admin">Home (admin)</a>
<br>
<h2>Stocks management</h2>
<br>
<fieldset>
  <legend><strong>Create a new stock</strong></legend>
  <form class="" action="/admin/stock" method="post">
  <label>Stock (long name)
    <input type="text" name="longName">
  </label>
  <label>Isin
    <input type="text" name="isin">
  </label>
  <label>Stock (short name)
    <input type="text" name="shortName">
  </label>
  <label>Description
    <textarea name="description"></textarea>
  </label>
  <label>Price
    <input type="Number" name="price">
  </label>
  <label>Price variation
    <input type="Number" name="variation">
  </label>
  <label>Tendency
    Bull <input type="range" min="0" max="100" step="1" value="50" id="tendency" name="tendency">Bear
  </label>
  <label>URL of company image
    <input type="text" name="stockImg">
  </label>
  <label>URL of API to get data
    <input type="text" name="urlPrice">
  </label>
  <input type="submit" name="btn-stock-creation" value="Save!">
  </form>
</fieldset>
<br>
<hr>
<h1>Stock lists</h1>
<table>
<tr style="border: 1px solid black; padding: 5px;">
  <th style="border: 1px solid black; padding: 5px; background-color: lightgrey;"> Stock (long name) </th>
  <th style="border: 1px solid black; padding: 5px; background-color: lightgrey;"> Stock (short name)  </th>
  <th style="border: 1px solid black; padding: 5px; background-color: lightgrey;"> Isin </th>
  <th style="border: 1px solid black; padding: 5px; background-color: lightgrey;"> Current price </th>
  <th style="border: 1px solid black; padding: 5px; background-color: lightgrey;"> Variation </th>
  <th style="border: 1px solid black; padding: 5px; background-color: lightgrey;"> Trend (Bull) </th>
  <th style="border: 1px solid black; padding: 5px; background-color: lightgrey;"> Trend (Bear) </th>
  <th style="border: 1px solid black; padding: 5px; background-color: lightgrey;"> URL Image </th>
  <th style="border: 1px solid black; padding: 5px; background-color: lightgrey;"> URL API price </th>
</tr>

<% stocks.forEach((stock)=>{ %>
  <tr>
    <td style="border: 1px solid black; padding: 5px;"> <%= stock.longName%> </td>
    <td style="border: 1px solid black; padding: 5px;"> <%= stock.shortName%> </td>
    <td style="border: 1px solid black; padding: 5px;"> <%= stock.isin%> </td>
    <td style="border: 1px solid black; padding: 5px;"> <%= stock.price%> </td>
    <td style="border: 1px solid black; padding: 5px;"> <%= stock.variation%> </td>
    <td style="border: 1px solid black; padding: 5px;"> <%= stock.trend[0]%> </td>
    <td style="border: 1px solid black; padding: 5px;"> <%= stock.trend[1]%> </td>
    <td style="border: 1px solid black; padding: 5px;"> <%= stock.stock_img%> </td>
    <td style="border: 1px solid black; padding: 5px;"> <%= stock.url_price%> </td>
  </tr>
<% }) %>

</table>
