<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Insider profile page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stream.css">

</head>

<body>
    <nav class="nav has-shadow " id="top">
        <div class="container" id="top2">
            <div class="nav">
                <a class="nav-item" href="/">
                    <img id="logo" src="images/logo.png" alt="Description">
                </a>
            </div>
            <div class="nav" id="formNav">
                <div class="nav-item field" id="formNav1">
                    <form method="post" class="control has-icons-right" id="formNav2">
                        <input class="input is-hovered" type="text" placeholder="Stock or Username">
                        <span id="loupe" class="icon is-small is-right">
                  <i type="submit"  class="fa fa-search" ></i>
                </span>
                    </form>
                </div>
            </div>

            <span class="nav-toggle">
                  <span></span>
            <span></span>
            <span></span>
            </span>
            <div class="nav-right nav-menu">
                <div id="menu">
                    <a href="/stream" class="nav-item is-tab ">
      Stream
      </a>
                    <a href="/trending" class="nav-item is-tab">
      Trending
      </a>
                    <a href="/leaderboard" class="nav-item is-tab">
      Leaderboard
      </a>
                </div>
                <span class="nav-item">
                      <% if(!user) { %>
                      <a href="/login" class="button">
                        Log in
                      </a>
                      <a href="/signup" class="button">
                        Sign up
                      </a>
                    </span>
                <%} else { %>
                    <div class="nav-profile">
                        <a id="profile-pic" href="/profile">
                            <div class="nav-photo-profil">
                                <img src="<%= user.picProfile%>" alt="">
                            </div>
                        </a>
                        <div class="nav-user-profile">
                            <div id="nav-username" class="nav-user-name">@
                                <%= user.local.username%>
                            </div>
                            <div class="nav-status">
                                <div class="nav-status-light"></div>
                                <a href="/logout">Logout</a>
                            </div>
                        </div>

                        <%  } %>
                    </div>
            </div>
    </nav>

    <section class="section main">
        <div class="column is-6" id="ActionCard">
            <div class="card profile-card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-64x64 is-circle">
                                <%if (insider.picProfile) { %>
                                    <img src="<%= insider.picProfile %>" alt="my picture">
                                    <%  } else { %>
                                        <img src="/images/avatar.png" alt="my picture">
                                        <%  } %>
                        </div>
                        <div class="media-content">
                            <p class="title is-5">
                                <%= insider.local.username %>
                            </p>
                            <p class="subtitle is-6">
                                <%= insider.local.email %>
                            </p>
                            <a href="/follow"><button id="BEditFollow" class="button is-small is-outlined is-primary" type="button" name="button">Follow</button></a>
                        </div>
                    </div>
                    <nav class="level">
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="is-6 has-text-grey-light"><strong>REPUTATION POINTS</strong></p>
                                <p class="is-4">
                                    <%= insider.score %>
                                </p>
                                </a>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="is-6 has-text-grey-light"><small>Location</small></p>
                                <p class="is-4">
                                    <%= insider.location ? insider.location : "Secret..." %>
                                </p>
                                </p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="is-6 has-text-grey-light">Bio</p>
                                <p class="is-4">
                                    <%= insider.bio ? insider.bio : "Secret..." %>
                                </p>
                                </a>
                            </div>
                        </div>

                        <div class="level-item has-text-centered">
                            <div>
                                <p class="is-6 has-text-grey-light">Website</p>
                                <p class="is-4">
                                    <%= insider.website ? insider.website : "Secret..." %>
                                </p>
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="column is-6">
            <div class="is-sticky">
                <div class="card-image">
                    <nav class="navbar is-dark">
                        <a id="WatchList" class="babMenu navbar-item is-tab "> My Watch List</a>
                        <a id="currentInsight" class="babMenu navbar-item is-tab is-active">Current Insights</a>
                    </nav>
                </div>
                <div class="card profile-card">

                    <div id="watchList" class="card-content">
                        <div class="Symbol">
                            <h1 class="stockName" data-replace="Symbol">Air Liquide</h1>
                            <b class="price is-6">104.87</b><i data-replace="BidRealtime"></i>
                            <b id="variation" class="is-6 has-text-greEN"><span class= "indice">+20.7</span>&nbsp; <span class="indice">(10.8%)</span>
                            </b>
                        </div>
                        <div id="bullAndBear"><img src="/images/bulls.png" alt="bulls-and-bears"></div>

                        <div id="position">
                            <span class="stockName">Performance</span>
                            <h1 id="WinOrLoss">(10.8%)</h1>
                            <form id="close" action="/" method="post">
                                <button id="Bclose" type="submit" class="button is-small is-outlined is-primary">Close</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </section>
    <script type="text/javascript" src="/JS/search.js"></script>
    <script type="text/javascript" src="/JS/JSforCSS.js"></script>
    <script type="text/javascript" src="/JS/modal.js"></script>
</body>

</html>