<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Insiders Stream page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stream.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        .ui-autocomplete-loading {
            background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
        }
    </style>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <script>
        let moments = [];
    </script>
    <nav class="nav has-shadow " id="top">
        <div class="container" id="top2">
            <div class="nav">
                <a class="nav-item" href="/">
                    <img id="logo" src="images/logo.png" alt="Description">
                </a>
            </div>
            <div class="nav" id="formNav">
                <div class="nav-item field" id="formNav1">
                    <form method="post" action="/search-stock" class="control has-icons-right" id="formNav2">
                        <input id="search-query" name="search" class="input is-hovered" type="text" placeholder="Stock or Username">
                        <span id="loupe" class="icon is-small is-right">
                  <i id="quicksearch" type="submit"  class="fa fa-search" ></i>
                </span>
                    </form>
                </div>
            </div>

            <span class="nav-toggle">
                    <span></span>
            <span></span>
            <span></span>
            </span>
            <div class="nav-right nav-menu">
                <div id="menu">
                    <a href="/stream" class="nav-item is-tab is-active">
        Stream
        </a>
                    <a href="/trending" class="nav-item is-tab">
        Trending
        </a>
                    <a href="/leaderboard" class="nav-item is-tab">
        Leaderboard
        </a>
                </div>
                <span class="nav-item">
                        <% if(!user) { %>
                        <a href="/login" class="button">
                          Log in
                        </a>
                        <a href="/signup" class="button">
                          Sign up
                        </a>
                      </span>
                <%} else { %>
                    <div class="nav-profile">
                        <a id="profile-pic" href="/profile">
                            <div class="nav-photo-profil">
                                <img src="<%= user.picProfile%>" alt="">
                            </div>
                        </a>
                        <div class="nav-user-profile">
                            <div id="nav-username" class="nav-user-name">@
                                <%= user.local.username%>
                            </div>
                            <div class="nav-status">
                                <div class="nav-status-light"></div>
                                <a href="/logout">Logout</a>
                            </div>
                        </div>
                        <%  } %>
                    </div>
            </div>
    </nav>


    <section class="section main">
        <div class="container">
            <div class="columns">
                <div class="column is-3">
                    <div class="is-sticky">
                        <div class="card-image">
                            <nav class="navbar is-dark">
                                <a id="WatchList" class="babMenu navbar-item is-tab "> My Watch List</a>
                                <a id="currentInsight" class="babMenu navbar-item is-tab is-active">Current Insights</a>
                            </nav>
                        </div>
                        <div class="card profile-card">

                            <div id="watchList" class="card-content">
                                <div class="Symbol">
                                    <h1 class="stockName" data-replace="Symbol">Air Liquide</h1>
                                    <b class="price is-6">104.87</b><i data-replace="BidRealtime"></i>
                                    <b id="variation" class="is-6 has-text-greEN"><span class= "indice">+20.7</span>&nbsp; <span class="indice">(10.8%)</span>
                                </b>
                                </div>
                                <div id="bullAndBear"><img src="/images/bulls.png" alt="bulls-and-bears"></div>

                                <div id="position">
                                    <span class="stockName">Performance</span>
                                    <h1 id="WinOrLoss">(10.8%)</h1>
                                    <form id="close" action="/" method="post">
                                        <button id="Bclose" type="submit" class="button is-small is-outlined is-primary">Close</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="column is-6">
                    <div class="card">
                        <div class="card-content bg-light">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-32x32 is-circle"><img src="<%= user.picProfile %>" alt="Image"></figure>
                                </div>
                                <div class="media-content">
                                    <form action="/stream" method="post">
                                        <div class="field">
                                            <div class="control"><textarea onkeyup="countChar(this)" id="babble-text" name="babble" maxlength="200" rows="3" placeholder="Whats happening?" class="textarea"></textarea></div>
                                            <!---->
                                        </div>
                                        <div class="level">
                                            <div class="level-left"><a class="has-text-grey-light"><span class="icon"><i class="fa fa-image"></i></span></a></div>
                                            <div class="level-right">
                                                <div class="level-item has-text-grey" id="counter">200</div>
                                                <div class="level-item"><button id="babble-submit" type="submit" class="button is-outlined is-primary">Babble</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar is-dark">
                        <div>
                            <div class="babblesMenu">
                                <a class="babMenu navbar-item is-tab is-active">All</a>
                                <a class="babMenu navbar-item">Insiders Mates</a>
                                <a class="babMenu navbar-item">Watch List</a>
                                <a class="babMenu navbar-item">My Posts</a>
                                <a id="vide"></a>
                                <a id="reload1" class="babMenu"><i href="/stream" id="reload" class="navbar-item fa fa-refresh"></i></a>
                            </div>
                        </div>
                    </nav>

                    <%# Zone of Babbles%>
                        <div class="card">
                            <div class="babbles-box" id="babble-container">

                                <% if (timeline.length > 0) { %>
                                    <% timeline.forEach(function(babble, i) { %>
                                        <script>
                                            var m = (<%- JSON.stringify(moment(babble.created_at).format('llll')) %>)
                                            moments.push(m);
                                        </script>
                                        <div class="tweets card-content p-x-1">
                                            <article class="media tweet">
                                                <figure class="media-left">
                                                    <p class="image is-64x64 is-circle">
                                                        <a href="/profile/<%= babble.user_id._id %>" class=""><img src="<%= babble.user_id.picProfile%>"></a>
                                                    </p>
                                                </figure>
                                                <div class="media-content">
                                                    <div class="content">
                                                        <p class="tweet-meta">
                                                            <a href="/profile/<%= babble.user_name %>" class="has-text-dark">
                                                                <strong><%= babble.user_id.local.username%></strong></a>
                                                            <small class="media-right has-text-grey-light"><%= moment(babble.created_at).format('llll') %></small>
                                                        </p>
                                                        <p class="tweet-body has-text-grey">
                                                            <%= babble.babble%>
                                                        </p>
                                                    </div>
                                                    <nav class="media-right">
                                                        <div class="level-right">
                                                            <a class="level-item has-text-grey-light">
                                                                <span class="icon is-small"><i id=<%=i%> class="fa fa-reply modal-button" data-target="#modal"></i></span>
                                                                <small class="favicon"> <%= babble.reply.length%></small>
                                                            </a>
                                                            <a class="level-item has-text-grey-light">
                                                                <form id="like-form" action="/stream/like" method="post"> <span class="icon is-small"><i id=<%=i%> class="fa fa-thumbs-o-up like-btn"></i></span>
                                                                    <small><%= babble.like%></small>
                                                                    <input class="like-input" name="likeInput" val="">
                                                                </form>
                                                            </a>
                                                    </nav>
                                                    </div>
                                            </article>
                                            </div>
                                            <% }) %>
                                                <% } else { %>
                                                    <div class="babble-container no-babble">
                                                        <p>The timeline is empty</p>
                                                    </div>
                                                    <%  }%>
                                        </div>
                            </div>

                            <%# End of babble container%>
                                <button class="button m-t-1 m-b-1 is-fullwidth">
            Load more...
        </button>
                        </div>

                        <div class="column is-3">
                            <div class="box">
                                <p><span class="title is-5">Who to follow</span> · <a href="/stream">Refresh</a>
                                    <hr>
                                    <div class="columns">
                                        <div class="column is-3 is-marginless">
                                            <div class="image is-circle">
                                                <a href="/profile/<%=followers[0]._id%>"><img src="<%= followers[0].picProfile%>"></a>
                                            </div>
                                        </div>
                                        <div class="column is-9">
                                            <p>
                                                <a href="/profile/<%=followers[0]._id%>">
                                                    <strong>&commat;<%= followers[0].local.username%></strong>
                                                </a>
                                                <a href="/follow/<%=followers[0]._id%>">
                                                    <i class="fa fa-times x"></i>
                                                </a>
                                            </p>
                                            <a class="button is-primary is-small">
                                                <span>
                    + Follow
                  </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="columns">
                                        <div class="column is-3 is-marginless">
                                            <div class="image is-circle">
                                                <a href="/profile/<%=followers[1]._id%>"><img src="<%= followers[1].picProfile%>"></a>
                                            </div>
                                        </div>
                                        <div class="column is-9">
                                            <p>
                                                <a href="/profile/<%=followers[1]._id%" %>
                                                    <strong>&commat;<%= followers[1].local.username%></strong>
                                                </a>
                                                <a href="/follow/<%=followers[1]._id%>">
                                                    <i class="fa fa-times x"></i>
                                                </a>
                                            </p>
                                            <a class="button is-primary is-small">
                                                <span>
                    + Follow
                  </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="columns">
                                        <div class="column is-3 is-marginless">
                                            <div class="image is-circle">
                                                <a href="/profile/<%=followers[2]._id%>"><img src="<%= followers[2].picProfile%>"></a>
                                            </div>
                                        </div>
                                        <div class="column is-9">
                                            <p>
                                                <a href="/profile/<%=followers[2]._id%>">
                                                    <strong>&commat;<%= followers[2].local.username%></strong>
                                                </a>
                                                <a href="/follow/<%=followers[2]._id%>">
                                                    <i class="fa fa-times x"></i>
                                                </a>
                                            </p>
                                            <a class="button is-primary is-small">
                                                <span>
                    + Follow
                  </span>
                                            </a>
                                        </div>
                                    </div>

                            </div>
                        </div>
                </div>

            </div>
    </section>

    <!-- modal content -->
    <%# Retrieve the parent%>




        <div id="modal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <%# Zone of Babbles%>
                    <div class="card">
                        <div class="babbles-box" id="babble-container">



                            <% let babble = timeline[0]  %>


                                <div id="modalFirstParent" class="tweets card-content p-x-1">
                                    <article class="media tweet">
                                        <figure class="media-left">
                                            <p class="image is-64x64 is-circle">
                                                <a href="#" class=""><img id="dynamiqueUserPic" src="<%= babble.user_id.picProfile%>"></a>
                                            </p>
                                        </figure>
                                        <div class="media-content">
                                            <div class="content">
                                                <p class="tweet-meta">
                                                    <a href="/profile/<%= babble.user_name %>" class="has-text-dark">
                                                        <strong id="dynamiqueUserNameBabble"><%= babble.user_id.local.username%></strong></a>
                                                    <small id="dynamiqueTime" class="media-right has-text-grey-light"><%= moment(babble.created_at).format('llll') %></small>
                                                </p>

                                                <p id="dynamiqueContent" class="tweet-body has-text-grey">
                                                    <%= babble.babble%>
                                                </p>
                                            </div>
                                            <nav class="media-right">
                                                <div class="level-right">
                                                    <a class="level-item has-text-grey-light">
                                                        <span class="icon is-small"><i class="fa fa-reply modal-button" data-target="#modal"></i></span>
                                                        <small class="favicon"> <%= babble.reply.length%></small>
                                                    </a>
                                                    <a class="level-item has-text-grey-light">
                                                        <form id="like-form" action="/stream/like" method="post"> <span class="icon is-small"><i class="fa fa-thumbs-o-up like-btn"></i></span>
                                                            <small><%= babble.like%></small>
                                                            <input class="like-input" name="likeInput" val="">
                                                        </form>
                                                    </a>
                                            </nav>
                                            </div>

                                    </article>
                                    </div>


                                    <div id="babbleModal" class="card">
                                        <div class="card-content bg-light">
                                            <div class="media">
                                                <div class="media-left">
                                                    <figure class="image is-32x32 is-circle"><img src="<%= user.picProfile%>" alt="My picture"></figure>
                                                </div>
                                                <div class="media-content">
                                                    <form action="/stream/reply" method="post">
                                                        <%# Gros hack%>
                                                            <input id="parent-modal" name="parentModal" val="">
                                                            <div class="field">
                                                                <div class="control"><textarea onkeyup="countChar(this)" id="babble-text" name="babble" maxlength="200" rows="3" placeholder="Whats happening?" class="textarea"></textarea></div>
                                                                <!---->
                                                            </div>
                                                            <div class="level">
                                                                <div class="level-left"><a class="has-text-grey-light"><span class="icon"><i class="fa fa-image"></i></span></a></div>
                                                                <div class="level-right">
                                                                    <div class="level-item has-text-grey" id="counter2">200</div>
                                                                    <div class="level-item"><button id="babble-submit" type="submit" class="button is-outlined is-primary">Babble</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>

                    </div>

                    <button class="modal-close"></button>
            </div>
            <!-- modal content -->
            <script>
                const user = <%- JSON.stringify(user) %>;
                const timeline = <%- JSON.stringify(timeline) %>;
                const moment = <%- (moment) %>;
                const followers = <%- JSON.stringify(followers) %>;
            </script>

            <script type="text/javascript" src="JS/search.js"></script>
            <script type="text/javascript" src="/JS/JSforCSS.js"></script>
            <script type="text/javascript" src="/JS/modal.js"></script>
</body>

</html>