<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Insiders Leaderbord</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="minireset.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stream.css">

</head>

<body>
    <nav class="nav has-shadow " id="top">
        <div class="container" id="top2">
            <div class="nav">
                <a class="nav-item" href="/">
                    <img id="logo" src="images/logo.png" alt="Description">
                </a>
            </div>
            <div class="nav" id="formNav">
                <div class="nav-item field" id="formNav1">
                    <form method="post" class="control has-icons-right" id="formNav2">
                        <input class="input is-hovered" type="text" placeholder="Stock or Username">
                        <span id="loupe" class="icon is-small is-right">
                  <i type="submit"  class="fa fa-search" ></i>
                </span>
                    </form>
                </div>
            </div>

            <span class="nav-toggle">
                  <span></span>
            <span></span>
            <span></span>
            </span>
            <div class="nav-right nav-menu">
                <div id="menu">
                    <a href="/stream" class="nav-item is-tab ">
      Stream
      </a>
                    <a href="/trending" class="nav-item is-tab ">
      Trending
      </a>
                    <a href="/leaderboard" class="nav-item is-tab is-active">
      Leaderboard
      </a>
                </div>
                <span class="nav-item">
                      <% if(!user) { %>
                      <a href="/login" class="button">
                        Log in
                      </a>
                      <a href="/signup" class="button">
                        Sign up
                      </a>
                    </span>
                <%} else { %>
                    <div class="nav-profile">
                        <a id="profile-pic" href="/profile">
                            <div class="nav-photo-profil">
                                <img src="<%= user.picProfile%>" alt="">
                            </div>
                        </a>
                        <div class="nav-user-profile">
                            <div id="nav-username" class="nav-user-name">@
                                <%= user.local.username%>
                            </div>
                            <div class="nav-status">
                                <div class="nav-status-light"></div>
                                <a href="/logout">Logout</a>
                            </div>
                        </div>

                        <%  } %>
                    </div>
            </div>
    </nav>
    <section class="section main">

        <div class="container">
            <!--leaderboard game over-->
            <div class="leaderboard">
                <h1> Your performance </h1>
                <div class="item ">
                    <div class="rank" style="min-width:30px"></div>
                    <div class="content">
                        <a class="avatar default" id="profile-pic" href="/profile">
                                        <img class="profile-pic" src="<%= user.picProfile%>" alt=""></a>
                        <div class="rankInfo">
                            <a class="fullName name">@<%= user.local.username%></a>
                            <div class=" points">
                                <%= user.score%>
                            </div>

                        </div>
                    </div>
                </div>
                <h1> Greatest Insiders in history</h1>

                <% users.forEach(function(user, i) { %>
                    <div class="item ">
                        <div class="rank" style="min-width:30px">
                            <%=i+1%>
                        </div>
                        <div class="content">
                            <a class="avatar default" id="profile-pic" href="/profile/<%= user._id%>">
                                                <img class="profile-pic" src="<%= user.picProfile%>" alt=""></a>
                            <div class="rankInfo">
                                <a class="fullName name">@<%= user.local.username%></a>
                                <div class=" points">
                                    <%= user.score%>
                                </div>

                            </div>
                        </div>
                    </div>
                    <% }) %>
    </section>
</body>